#{extends 'main.html' /}
#{set title:'Telesales Demo - Play!' /}

<p>	<img src="@{'/public/images/play-logo.jpg'}" align="left" style="padding-right:15px">This is a demo Java app running on Heroku using the Play! framework. It uses the <a href="http://code.google.com/p/sfdc-wsc/" target="_blank">Force.com Web Service Connector (WSC)</a> and the Partner jar to connect to a DE salesforce.com org. There are also versions of this app for <a href="http://telesales-rails.heroku.com" target="_blank">Ruby on Rails</a>, <a href="https://jeffdouglas-salesforce1.appspot.com/" target="_blank">Python (Google App Engine)</a> and <a href="http://jeffdouglas-java1.appspot.com/" target="_blank">Java (Google App Engine)</a>.</p>
	
	<p><a href="/opportunity" style="font-size:x-large">Run the demo</a></p>

	<p/>	
	You can find the source for this project on <a href="https://github.com/jeffdonthemic/Telesales-Rails" target="_blank">github</a>.<br> 
	For more information regarding this demo see: <a href="http://blog.jeffdouglas.com/2011/09/26/telesales-play/" target="_blank">http://blog.jeffdouglas.com/2011/09/26/telesales-play/</a>